<nav class="navbar navbar-light bg-light">
    <div class="navbar-1">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><%= image_tag 'logo.png', style:"height: 35px; width: 130px; margin-left: 5px"  %></a>
        </div>
        <div class="enlaces-navbar">
          <a class="info" href="/">Home</a>
          <a class="info" href="">About</a>
          <a class="info" href="">Contact</a>
        </div>
        <div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
        </div>
     </div>
    </nav>
