<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1501876991173-f9c47cd28268?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2919&q=80);">

<div class="container" >

<% category = ['Front-end Developer', 'Back-end Developers'] %>

<h3>Developers: </h3>

  <%# <ul>
    <% developers.each do |developer| %>
      <%# <li><%= developer.capitalize %></li>
    <%# <% end %>
  <%# </ul> %> %> %> %>


  </div>
